# =========================
# Build / compilation
# =========================
build/
output/
*.o
*.d
*.out
*.exe

# =========================
# CMake éventuel plus tard
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile.cmake

# =========================
# Logs / debug
# =========================
*.log
*.tmp

# =========================
# Linux
# =========================
*~
.core
*.swp
*.swo

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Code::Blocks / autres IDE C++
# =========================
*.cbp
*.depend
*.layout

# =========================
# CLion / JetBrains
# =========================
.idea/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini